@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

ul, li {
    list-style: none;
    padding: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, body, body2 {
    line-height: normal;
}

body {
    background-color: #F1F1F1;
    padding: 0;
    margin: 0;
    background-image: url(../images/svg/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

body2 {
    background-color: #F1F1F1;
    padding: 0;
    margin: 0;
    background-image: url(../images/svg/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

body3 {
    background-color: #F1F1F1;
    padding: 0;
    margin: 0;
    background-image: url(../images/svg/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.box {
    width: 100%;
    height: 100vh;

}

.content {
    width: 98%;
    height: 95vh;
    border: 0;
    background-color: #FFF;
    background-color: #F1F1FF;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    height: 50px;
    background: #F1F1F1;
    border-bottom: solid 1px #dfe3e8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0 10px;
}

.sidebar {
    width: 230px;
    height: calc(100% - 50px);
    border-bottom-left-radius: 5px;
    border-right: solid 1px #dfe3e8;
    background: #F1F1F1;
    display: inline-block;
}

.sidebar--header {
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.header--text {
    text-align: center;

}

.header--img {
    position: relative;
}

.header--text h3 {
    margin: 10px 0px 5px 0px;
    text-align: center;
}

.sidebar--items {
    margin-top: 20px;
}

.sidebar--items ul {
    margin: 0;
}

.items--li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 5px; */
    transition: all ease .3s;
    padding: 10px;
}

.items--li span {
    font-size: 1.1em;
    font-weight: 600;
}


.items--li:hover {
    background: #CFD3D7;
}

.body {
    height: calc(100% - 50px);
    width: calc(100% - 230px);
    float: right;
    padding: 20px
}

.body2 {
    height: calc(100% - 132px);
    width: calc(100% - 230px);
    float: right;
    padding: 20px
}

.header--exit {
    display: flex;
}

.header--exit a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1em;
}

.btn--padrao{
    border: 0;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: .5px;
    transition: all ease .3s;
    display: inline-block;
}

.btn--padrao:hover { 
    opacity: .8;
    color: #FFF;
}

.btn-add {
    background-color: royalblue;
}


.search--div {
    margin: 10px 0;
}

.loadingButton{
    display: flex;
    align-items: center;
    gap: 10px;
}

h3 {
    font-size: 1.17em;
    font-weight: bold;
}

.header--text h3 {
    margin: 14px 0px 5px 0px;
}

.header--title {
    margin: 0;
    font-weight: 300;
    font-size: 1.5em;
}

.hide {
    display: none;
}

.dados--row{
    display: inline-block;
    margin: 10px;
}

.filters--row h3{
    margin: 0;
}

.input-rows {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-flow: column;
    justify-content: center;
}

.input-rows div {
    width: 100%;
}

.spinner-border {
    position: absolute;
    left: 50%;
    top: 50%;
}

.anexo--item {
    justify-content: space-between;
    width: 100% !important;
    border-radius: .25rem;
    height: 50px;
    background: #e9ecef;
    padding: 0 10px;
    border: 1px solid #ced4da;
    display: flex;
    align-items: center;
}

.bg--green {
    background-color: #4aa96c;
}

.bg--red {
    background-color: #f55c47;
}

.bg--orange {
    background-color: #FF8C00;
}

.bg--yellow {
    background-color: #FFEA00;
}

.bg--blue {
    background-color: #0000FF;
}

.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.readonly {
    background: #eee;
    pointer-events: none;
    touch-action: none;
  }


.list--body {
    height: auto;
    padding: 0 30px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.list--body2 {
    height: auto;
    padding: 0 30px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.item--list {
    flex-flow: column;
    display: flex;
    align-items: center;
    width: 170px;
    height: 130px;
    border-radius: 5px;
    border: 1px solid #a9afb8;
    transition: all ease .3s;
    color: #6799e2;
    font-weight: 600;
    text-align: center;
    gap: 15px;
    padding: 20px;
}

.item--list:hover {
    background-color: rgb(103, 153, 226);
    border-color: #6799e2;
    color: white;
    cursor: pointer;
}


.svg--color {
    fill: rgb(103, 153, 226);
    transition: all ease .3s;
}

.svg--hover {
    fill: rgb(241, 241, 241)
}

.status {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    right: 3px;
    bottom: 3px;
    position: absolute;
}

.status:hover {
    cursor: pointer;
}

#statusSelect{
    position: absolute;
    bottom: -25px;;
    left: 70px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.notification-text {
    background: red;
    padding: 3px;
    border-radius: 5px;
    color: wheat;
    bottom: -3px;
    right: 1px;
    font-size: 13px;
    position: absolute;
    font-weight: 600;
    display: none;
}

.notification_pj-text {
    background: green;
    padding: 3px;
    border-radius: 5px;
    color: wheat;
    bottom: 10px;
    right: -8px;
    font-size: 13px;
    position: absolute;
    font-weight: 600;
    display: none;
}

.notification_contratos-text {
    background: orangered;
    padding: 3px;
    border-radius: 5px;
    color: wheat;
    bottom: 10px;
    right: 5px;
    font-size: 13px;
    position: absolute;
    font-weight: 600;
    display: none;
}

.header--left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.notification-itens {
    height: 100px;
    width: 200px;
    position: absolute;
    background: #F1F1F1;
    z-index: 9999;
    border: solid 1px #dfe3e8;
    top: 30px;
    display: none;
}

.notification-item {
    border-bottom: 1px solid #dfe3e8;
    padding: 10px;
}

.sem-notificacao{
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 100%;
    font-weight: 600;
}

.a--normal {
    color: #0d6efd;
    text-decoration: underline;
}

.chat--anexos {
    display: flex;
    gap: 10px;
}

.modal--divison {
    display: flex;
    justify-content: space-around;
}

.pointer {
    cursor: pointer;
}