body {
    overflow: hidden;
}

.list--header {
    margin: 20px 0;
}

.list--header h3 {
    font-weight: 300;
    font-size: 2em;
    letter-spacing: .5px;
    color: #282c33;
    margin: 0;
}

.table {
    text-align: center;
    margin: 0;
}

.table>:not(:last-child)>:last-child>* {
    border-bottom: 0;
}

.body--area {
    height: calc(100% - 100px);
}

tbody tr:hover {
    background-color: #DCDCDC;
    cursor: pointer;
}

.form--row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}

.list--table {
    height: calc(100% - 166px);
}

.form--row div {
    flex-grow: 1;
    width: 49%;
}

label {
    font-size: 1.2em;
}

.form--area {
    display: flex;
    flex-flow: column;
    gap: 5px;
    align-items: center;
}

.list--div {
    height: 100%;
}

.anexos--list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.anexos--list a {
    color: #0d6efd;
}

.table-responsive {
    height: 100%;
    overflow: auto;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.table--status {
    width: 100px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
}

.menu--coment {
    display: flex;
    align-items: center;
    gap: 5px;
}

.anexo--icon:hover {
    cursor: pointer;
}

.container {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    width: 100%;
    margin-top: 15px;
    display: flex;
    gap: 5px;


}

.container div {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    text-align: center;
}