		@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');

		* {
			box-sizing: border-box;
			font-family: 'Roboto', sans-serif;
		}

		body {
			background-image: url(../images/svg/background.svg);
			background-repeat: no-repeat;
			background-size: cover;
			height: 100vh;
			width: 100%;
			overflow: hidden;
			margin: 0;
			padding: 0;
		}

		.flex-box {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.box {
			width: 100%;
			height: 100vh;
		}

		.box--content {
			display: flex;
			width: 1150px;
			height: 450px;
		}

		.form--div {
			width: 60%;
			height: 100%;
			background-color: #F1F1FF;
			border-radius: 5px;
			border: 1px solid #dfe3e8;
			box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
			padding: 10px 35px;
			margin: 0px 10px;
		}

		.form--title {
			margin: 25px 0 35px 0;
		}

		.form--title h3 {
			font-size: 28px;
			font-weight: 600;
			font-family: 'Raleway', sans-serif;
			margin: 0;
		}

		.form--inputs {
			margin-top: 20px;
		}

		.form--input {
			width: 100%;
			border: 1px solid #d0d7df;
			padding: 15px;
			font-size: 18px;
			transition: all ease .4s;
		}

		.form--input:focus {
			background-color: rgba(49, 129, 255, .1);
			border-color: #3181FF;
			outline: 0;
		}

		.input--submit {
			width: 100%;
			height: 40px;
			border: none;
			border-radius: 3px;
			background-color: #2EC986;
			border-color: #2EC986;
			color: white;
			font-size: 16px;
			transition: all ease .3s;
			cursor: pointer;
		}

		.input--submit:hover {
			opacity: .9;
		}

		.textToClick{
			font-size: 15px;
			margin-top: 5px;
			cursor: pointer;
			transition: all ease .2s;
			color: #2275fa;
			text-decoration: none;
		}

		.textToClick:hover {
			color: #0261fa;
		}

		.copyright {
			position: absolute;
			bottom: 10px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.copyright span {
			color: white;
		}

		@media only screen and (max-width: 780px) {
			.form--div {
				width: 100%;
				margin: 0;
			}

			.box--content {
				width: 95%;
				margin: auto;
			}
		}

		@media only screen and (max-height: 600px) {
			.copyright {
				display: none;
			}
		}