<header class="header">
    <div class="header--left">
        <button type="button" class="btn--padrao btn-add position-relative" data-bs-toggle="offcanvas"
            data-bs-target="#canvasTrabalhos" id="trabalhando_agora" style="display: none;">
            Trabalhando agora
        </button>
        <span class="flex-box notification-box"style="position: relative; cursor:pointer;" data-bs-toggle="offcanvas" data-bs-target="#canvasNotificacao" style="color: white; padding: 9px 20px;">
            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path
                    d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2zm6-6v-5c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2zm-2 1H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6z" />
            </svg>
            <span class="notification-text"></span>
        </span>
    </div>
    <div class="header--exit">
        <span class="flex-box notification-box boxpermiss" style="position: relative; cursor:pointer;" data-bs-toggle="offcanvas" data-bs-target="#canvasContratosPj" style="color: white; padding: 9px 20px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-card-heading" viewBox="0 0 16 16">
                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"/>
              </svg>
              <span class="notification_pj-text"></span>
        </span>

        <span class="flex-box notification-box px-3 boxpermiss" style="position: relative; cursor:pointer;" data-bs-toggle="offcanvas" data-bs-target="#canvasContratosClientes" style="color: white; padding: 9px 20px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
            </svg>
            <span class="notification_contratos-text"></span>
        </span>
        <a href="?sair">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                <path fill-rule="evenodd"
                    d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
            </svg>
            Sair
        </a>
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="canvasNotificacao">
        <div class="offcanvas-body" id="div_notificacao" style="padding: 0;">
            <div class="card">
                <div class="card-header space-between"><b>Notificações</b>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Não há notificações até o momento.</h6>
                    </div>  
                </div>  
            </div>

        </div>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="canvasContratosClientes">
        <div class="offcanvas-body" id="div_notificacao_contratos" style="padding: 0;">
            <div class="card">
                <div class="card-header space-between"><b>Contratos a vencer no próximo mês</b>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Não há contratos a vencer.</h6>
                    </div>  
                </div>  
            </div>

        </div>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="canvasContratosPj">
        <div class="offcanvas-body" id="div_notificacao_pj" style="padding: 0;">
            <div class="card">
                <div class="card-header space-between"><b>Contratos PJ a vencer nos próximos 15 dias</b>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Não há Contratos de PJ a vencer.</h6>
                    </div>  
                </div>  
            </div>

        </div>
    </div>

    <!-- Modal Diálogo Ticket -->
    <div class="modal fade" id="modalExibirDialogo" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title show--ticket" id="exampleModalLabel">Ticket</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="formpermiss" id="form_dialog" enctype="multipart/form-data">
                        <input type="hidden" id="idTicket_coment" name="idTicket_coment">
                        <input type="hidden" id="id_usuario" name="id_usuario">
                        <textarea name="texto" class="form-control" placeholder="Digite aqui sua mensagem" required></textarea>
                        <div class="mt-2 menu--coment">
                            <button class="btn btn-primary">Adicionar Comentário</button>
                            <img class="anexo--icon" style="cursor: pointer" id="anexo--icon" src="../../images/svg/anexo.svg">
                        </div>
                        <input type="file" id="inputFileComent" name="anexo[]" style="display: none;" multiple>
                    </form>
                    <div class="chat--readonly mt-3">
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</header>


